langgraph
langchain-openai
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
langchain
langsmith
langchain-anthropic
langchain-experimental
gunicorn
langgraph-checkpoint-postgres
tradingview_screener
matplotlib